/*animated styles*/
.kj {
  padding: 1ch;
  stroke-width: 1.5rem;
  fill: none;
  /*stroke-dasharray: 870;
  stroke-dashoffset: 870;*/
  border-radius: 1rem;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  overflow: visible;
}

.k {
  stroke: var(--yellow);
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: hand 0.75s ease-in-out forwards;
}

.k2 {
  stroke: var(--blue);
  stroke-dasharray: 870;
  stroke-dashoffset: 870;
  animation: hand 0.5s ease-in-out forwards;
  animation-delay: 0.5s;
}

.j {
  stroke: var(--orange);
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: hand 0.75s ease-in-out forwards;
  animation-delay: 1.25s;
}

.j2 {
  stroke: var(--red);
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: hand 0.5s ease-in forwards;
  animation-delay: 1.75s;
}

@keyframes hand {
  to {
    stroke-dashoffset: 0;
  }
}

/*non-animated styles*/

.kNA {
  stroke: var(--yellow);
}

.k2NA {
  stroke: var(--blue);
}

.jNA {
  stroke: var(--orange);
}

.j2NA {
  stroke: var(--red);
}



.navbar {
  background-color: var(--primary-background);
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navlist {
  font-size: 3rem;
  padding: 5px;
  display: flex;
  align-items: center;
}

.navBarBottomGradient {
  background-image:linear-gradient(to left, var(--blue), var(--yellow), var(--orange), var(--red));
  min-width: 100%;
  min-height: 0.25rem;
}

.buttons {
  padding: 0.25rem;
  margin: 1rem;
  -webkit-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  -moz-box-shadow: 11px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  transition: all 0.25s;
  border-radius: 5px;
}

.buttons:hover {
  box-shadow: 0px 0px 0px 0px;
  transform: translateY(5px) translateX(5px);
}

.buttons:nth-child(1n + 1) {
  color: var(--red);
  border: solid 1px var(--red)
}

.buttons:nth-child(2n + 1) {
  color: var(--orange);
  border: solid 1px var(--orange)
}

.buttons:nth-child(3n + 1) {
  color: var(--blue);
  border: solid 1px var(--blue)
}


